@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --bg-dark-color: rgb(40, 50, 60);
  --content-dark-color: rgb(49, 64, 78);
  --back-btn-bg: rgb(60, 70, 80);
  --bg-mode-text: rgb(255, 255, 255);

  /* --bg-light-color: rgb(255, 255, 255); */
}

* {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 14px;
  font-weight: 300;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  transition: all 0.5s;
  background-color: var(--bg-dark-color);
}

.container {
  color: var(--bg-mode-text);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-dark-color);
  gap: 2rem;
}

.content-wrap {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.search-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#heading-bar {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem 0 2.5rem;
  background-color: var(--content-dark-color);
  box-shadow: 0 3px 3px rgba(30, 29, 29, 0.748);
  font-family: "Rubik", sans-serif;
}
.heading {
  font-size: 12px;
  font-weight: 400;
}
.modes {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode-img {
  width: 20px;
  height: 20px;
  background-image: url("./moon-svgrepo-com.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chanageImg {
  background-image: url("./sun-svgrepo-com.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-bar {
  width: 20rem;
  height: 2.2rem;
  position: relative;
  top: 0;
  left: 0;
}
.search-bar > input {
  color: var(--bg-mode-text);
  background-color: var(--content-dark-color);
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(32, 32, 32, 0.264);
  padding-left: 42px;
}

.search-bar > input::placeholder {
  letter-spacing: 1px;
  color: var(--bg-mode-text);
}
.search-btn {
  padding: 15px;
  margin: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./search-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.filter {
  position: relative;
  top: 0;
  left: 0;
  width: 8rem;
  height: 2.2rem;
  background-color: var(--content-dark-color);
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(32, 32, 32, 0.264);
  cursor: pointer;
}
.filter-heading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter-elements {
  width: 100%;
  font-weight: 200;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
  background-color: var(--content-dark-color);
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(32, 32, 32, 0.264);
}
.continents {
  padding-left: 1rem;
}
.continents:hover {
  background: rgb(65, 83, 99);
}
.filter-reagion {
  margin: 0.5rem 0 0.5rem 0;
}
#country-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.card-wrap {
  width: 12rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--content-dark-color);
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 1rem rgba(32, 32, 32, 0.587);
}
.card-img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.card-img {
  width: 100%;
  height: 7rem;
}
.card-discription {
  margin-left: 1rem;
}
.country-heading {
  margin-top: 0.5rem;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}

.country-discription {
  letter-spacing: 1px;
  font-weight: 600;
}

.country-discription span {
  font-weight: 200;
}
.information-wrap {
  width: 100%;
  height: 100%;
}
#full-information {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5rem;
}
.backbtn {
  padding: 0 20px 0 20px;
  background-color: var(--back-btn-bg);
  font-size: 16px;
  align-self: flex-start;
  margin-left: 2.3rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(32, 32, 32, 0.264);
}
.info-card {
  width: 55rem;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  box-shadow: 0 2px 5px rgba(32, 32, 32, 0.264);
}
.country-image {
  width: 30rem;
  height: 15rem;
}
.country-data {
  width: 40rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.country-data h3 {
  align-self: flex-start;
  font-size: 18px;
}
.country-data ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 10px;
}
.country-data span {
  font-weight: 100;
  font-size: smaller;
}
.border {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.border li {
  background-color: var(--back-btn-bg);
  padding: 0 10px 0 10px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(32, 32, 32, 0.264);
}
.hidden {
  display: none;
}

/* media-query */
@media screen and (max-width: 600px) {
  #heading-bar {
    height: 5rem;
  }
  #heading-bar .heading {
    font-size: 8px;
    font-weight: lighter;
  }
  .content-wrap {
    width: 100%;
  }
  .search-section {
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
  }
  .filter {
    transform: translateX(100%);
  }
  .search-bar {
    width: 90%;
    transform: translate(3%);
  }
  #country-container {
    justify-content: center;
  }

  .card-wrap {
    min-width: 60%;
    height: 15rem;
  }
  .backbtn {
    margin-left: 1rem;
  }

  .info-card {
    flex-flow: column;
    width: 100%;
    height: 100%;
    gap: 3rem;
  }
  .country-image {
    width: 95%;
  }
  .country-data {
    width: 80%;
  }
  .country-data ul {
    grid-template-columns: 1fr;
  }
}
